[tool.poetry]
name = "butter-backup"
version = "3.2.0"
description = "Vollverschlüsselte, pseudoinkrementelle Sicherungskopien leicht gemacht"
authors = ["Max Görner <max@familie-goerner.eu>"]
license = "GPL-3.0-or-later"

[tool.poetry.dependencies]
python = ">=3.8.1,<3.12"
typer = "^0.7.0"
pydantic = "^1.10.4"
loguru = "^0.6.0"

[tool.poetry.group.dev.dependencies]
hypothesis = "^6.67.1"
pytest = "^7.2.1"
pynvim = "^0.4.3"
jedi = "^0.18.2"
pdbpp = "^0.10.3"
pytest-cov = "^3.0.0"
flake8 = "^6.0.0"
mypy = "^1.0.0"
black = "^23.1.0"
flake8-bugbear = "^23.1.20"
flake8-tuple = "^0.4.1"
flake8-simplify = "^0.19.3"
flake8-comprehensions = "^3.10.1"
flake8-builtins = "^2.1.0"
ruff = "^0.0.257"

[tool.poetry.scripts]
butter-backup = "butter_backup.cli:cli"

[tool.isort]
profile = "black"

[tool.mypy]
plugins = [
  "pydantic.mypy"
]
allow_any_unimported = false
warn_unreachable = true
enable_error_code = [
    "possibly-undefined"
]
strict = true
allow_incomplete_defs = true
allow_untyped_defs = true


[[tool.mypy.overrides]]
module = "tests.*"
disable_error_code = [
    "possibly-undefined"
]

[tool.pydantic-mypy]
init_forbid_extra = true
init_typed = true
warn_required_dynamic_aliases = true
warn_untyped_fields = true

[tool.pytest.ini_options]
addopts = [
    "--cov", "src",
    "--cov-branch",
    "--cov-fail-under", "85"
]
testpaths = ["tests"]

[tool.ruff]
src = [".", "src/"]
select = ["A", "B", "C", "F", "I", "ISC", "PIE", "PL", "Q", "RUF", "SIM", "TID", "W", "YTT"]
ignore = ["E", "PLC1901", "SIM117"]

[tool.ruff.mccabe]
max-complexity = 6

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
