[project]
name = "butter-backup"
version = "3.4.0"
description = "Vollverschlüsselte, pseudoinkrementelle Sicherungskopien leicht gemacht"
authors = [{name = "Max Görner", email = "max@familie-goerner.eu"}]
license = "GPL-3.0-or-later"
readme = "README.md"
requires-python = ">=3.9,<4.0.0"

[tool.poetry.dependencies]
typer = ">=0.9,<0.16"
pydantic = "^2.8.2"
loguru = "^0.7.0"
shell-interface = "^1.0.0"
storage-device-managers = "^1.0.0"
rich = {version = "^13.5.2", optional = true}

[tool.poetry.extras]
# In fact, `typer[all]` would be preferred, but Poetry does not support to have
# optional extras of dependencies.
all = ["rich"]

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
hypothesis = "^6.108.2"
pytest = "^8.3.1"
pynvim = "^0.5.2"
pdbpp = "^0.10.3"
pytest-cov = "^5.0.0"
mypy = "^1.11.0"
black = "^24.4.2"
ruff = ">=0.5.4,<0.10.0"
pytest-xdist = "^3.6.1"

[tool.poetry.scripts]
butter-backup = "butter_backup.cli:cli"

[tool.mypy]
plugins = [
  "pydantic.mypy"
]
allow_any_unimported = false
warn_unreachable = true
enable_error_code = [
    "possibly-undefined"
]
strict = true
allow_incomplete_defs = true
allow_untyped_defs = true


[[tool.mypy.overrides]]
module = "tests.*"
disable_error_code = [
    "possibly-undefined"
]

[tool.pydantic-mypy]
init_forbid_extra = true
init_typed = true
warn_required_dynamic_aliases = true
warn_untyped_fields = true

[tool.pytest.ini_options]
addopts = [
    "--cov", "src",
    "--cov-branch",
    "--cov-fail-under", "85"
]
testpaths = ["tests"]

[tool.ruff]
src = [".", "src/"]

[tool.ruff.lint]
select = ["A", "B", "C", "F", "I", "ISC", "PIE", "PL", "Q", "RUF", "SIM", "TID", "W", "YTT"]
ignore = ["E", "PLC1901", "SIM117"]
mccabe.max-complexity = 6

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
